<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_Hreflang>
            <version>1.0.0</version>
        </Canalweb_Hreflang>
    </modules>
    <global>
        <blocks>
            <hreflang>
                <class>Canalweb_Hreflang_Block</class>
            </hreflang>
        </blocks>
        <helpers>
            <hreflang>
                <class>Canalweb_Hreflang_Helper</class>
            </hreflang>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <hreflang>
                    <file>hreflang.xml</file>
                </hreflang>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hreflang translate="title">
                                            <title>Hreflang</title>
                                        </hreflang>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
